<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>App Revision</h4>
      <ul class="nav flex-column">
        <li class="nav-item" ><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item" ><a routerLink="/people" routerLinkActive="active">People</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Copyright App Revision</p>
</footer>
